<appSettings>
  <add key="ida:AppID" value="64fb5d8e-fa20-42d5-8a5a-446ea3ee65b1" />
  <add key="ida:AppSecret" value="NV~.147__4n6BzMBo.eJ6TX~.sEYph4Edd" />
  <add key="ida:RedirectUri" value="https://localhost:44365/" />
  <add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>